body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background: #BBBBBB;
	padding: 20px 0;/*Espaçamento interno*/
}

.caixa{
	position: relative;
	width: 940px;/*Largura aceitavel em diferentes resoluções*/
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;	
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;/*Transforma todo o texto navegavel em maiusculo*/
	color: #000000;/*Cor preto tudo zerado = Auzencia de cor*/
	font-weight: bold;/*Negrito*/
	font-size: 22px;/*Tamanho do texto*/
	text-decoration: none;/*Remove sumblinhado do texto lincavel*/
}

nav a:hover{/*Mouse passar por cima do elemento*/
	color: #C79C19;
	text-decoration: underline;
}

/*CSS da página inicial*/
.banner{
	width: 100%;
}

.principal{
	padding: 3em 0;
	background: #FEFEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;/*Tamanho base 2x*/
	margin: 0 0 1em;
	clear: left;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;/*Centido horário das magens Cima, Direita, Baixo e Esquerda*/
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFEFE,#888888);	
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.beneficios{
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

/*Pseudo elemento*/
.itens:first-child{
	font-weight: bold;
}

.itens:before{
	content: "✤";
}

.imagem-beneficios{
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover{
	opacity: 0.3;
}

.video{
	width: 560px;
	margin: 2em auto;
}

footer{
	text-align: center;	
	background: url("bg.jpg");
	padding: 40px 0px;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px;
}


/*Mobile-Resolution*/
/*É dentro dessa Midia quaries que criamos um estilo visual que compreenda telas de até 480px.*/
@media screen and (max-width: 480px){
	.caixa,
	.principal,
	.conteudo-beneficios,
	.mapa-conteudo,
	.video{
		width: auto;
	}

	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.lista-beneficios,.imagem-beneficios{
		width: 100%;
	}
}